.badge {
  background-color: rgb(205, 125, 236);
  width: 25px;
  height: 25px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  left: 15px;
  bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.dot {
  background-color: rgb(205, 125, 236);
  width: 5px;
  height: 5px;
  border-radius: 100%;
  top: -7px;
}

@keyframes rotateBadge {
  0% {
    transform: none;
  }
  50% {
    transform: rotateY(1turn);
  }
  100% {
    transform: none;
  }
}

.chat-badge:hover {
  animation: rotateBadge 1s ease-in-out infinite;
}
